* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ambystoma_mexicanumregular';
    src: url('./assets/fonts/ambystomamexicanum-vr7v-webfont.woff2') format('woff2'),
         url('./assets/fonts/ambystomamexicanum-vr7v-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: brown;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: calc(1em + 1vw);
    font-family: 'ambystoma_mexicanumregular';
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

.head {
    margin-top: 1vw;
}

.container {
    margin-top: 10vw; 
}

.logo {
    max-width: 60%;
}

.pinata {
    max-width: 40%;
}

.target {
    margin-top: 15vw;
}

.input {
    text-align: center;
    font-size: inherit;
    max-width: 20%;
    text-transform: inherit;
    margin-top: 5vw;
}

.errorList {
    text-decoration-line: line-through;
    margin-top: 5vw;
}

.reload {
    transform: scale(1.5);
    cursor: pointer;
    margin-top: 10vw;
}


footer {
    font-size: small;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2%;
    font-family: 'monospace';
}

@keyframes winDance {
    25%  {transform: rotate(10deg);}
    50%  {transform: rotate(-20deg);}
    75%  {transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
}

@keyframes endGame {
    50%  {transform: scale(1.5);}
    100% {transform: scale(1.0);}
}

/*Media queries*/

@media screen and (min-height: 700px) {
     .logo {
        max-width: 80%;
    }
    
    .pinata {
        max-width: 60%;
    }

    .target {
        margin-top: 10vw;
    }
    
    .input {
        margin-top: 10vw;
    }
}

/*desktop half screen*/
@media screen and (min-height: 950px) {
    .logo {
        max-width: 30%;
     }
 
     .container {
         margin-top: 5vw;
     }
 
    .pinata {
        max-width: 30%;
     }
 
    .target {
        margin-top: 5vw;
     }
 
     .input, .errorList {
         margin-top: 3vw;
     }
 
    .reload {
         margin-top: 6vw;
     }
} 

@media screen and (min-height: 700px) and (min-width: 1000px) {
    .logo {
        max-width: 20%;
     }
 
     .container {
         margin-top: 3vw;
     }
 
    .pinata {
        max-width: 15%;
    }
 
    .target, .input, .errorList, .reload {
        margin-top: 1vw;
    }
 
    .reload {
         margin-top: 2vw;
         transform: scale(1.0);
     }
 }

 /*for the ipad, not sure if it breaks something else*/
 @media screen and (min-height: 1000px) and (min-width: 750px) {
    .logo {
       max-width: 50%;
    }

    .container {
        margin-top: 10vw;
    }

   .pinata {
       max-width: 35%;
    }

   .target {
       margin-top: 10vw;
    }

    .input, .errorList {
        margin-top: 3vw;
    }

   .reload {
        margin-top: 6vw;
    }
} 

 @media screen and (min-height: 1100px) and (min-width: 750px) {
    .logo {
       max-width: 50%;
    }

    .container {
        margin-top: 10vw;
    }

   .pinata {
       max-width: 40%;
    }

   .target {
       margin-top: 15vw;
    }

    .input, .errorList {
        margin-top: 5vw;
    }

   .reload {
        margin-top: 12vw;
    }
} 

@media screen and (min-height: 750px) and (min-width: 1100px) {
    .logo {
       max-width: 20%;
    }

    .container {
        margin-top: 5vw;
    }

   .pinata {
       max-width: 15%;
    }

   .target {
       margin-top: 3vw;
    }

    .input, .errorList {
        margin-top: 2vw;
    }

   .reload {
        margin-top: 2vw;
    }
} 

/*fixed this for my screen, not sure if it breaks something else*/
@media screen and (min-height: 950px) and (min-width: 1800px) {
    body {
        font-size: x-large;
    }
    
    .logo {
       max-width: 20%;
    }

    .container {
        margin-top: 3vw;
    }

   .pinata {
       max-width: 15%;
    }

   .target {
       margin-top: 3vw;
    }

    .input, .errorList {
        margin-top: 2vw;
    }

   .reload {
        margin-top: 2vw;
    }
} 

@media screen and (min-height: 2000px)  {
    body {
        font-size: calc(1em + 1vw);
    }
    
    .logo {
       max-width: 20%;
    }

    .container {
        margin-top: 8vw;
    }

   .pinata {
       max-width: 100%;
       transform: scale(1.5);
    }

   .target {
       margin-top: 8vw;
    }

    .input, .errorList {
        margin-top: 2vw;
    }

   .reload {
        margin-top: 3vw;
    }

    footer {
        font-size: xx-large;
    }
} 